Set Term="foot"
function("SfwbarInit") {
SetLayer "overlay"
}

scanner {

ExecClient("stdbuf -oL amixer sevents","alsactl") {}
Exec("amixer sget Master") {
AlsaVolume = RegEx(".*[[](.[0-9]+)%")
AlsaMuted = RegEx(".*[[].*[[]([A-Za-z].*)[]]")
}

file("/sys/class/power_supply/BAT0/charge_full") {
BatTotal = Grab(First)
}

file("/sys/class/power_supply/BAT0/charge_now") {
BatLeft = Grab(First)
}

file("/sys/class/power_supply/BAT0/status") {                                      
BatState = RegEx("^(.*)$",First)
}

}



set AlsaMutedIcon = "audio-volume-muted-symbolic"
set AlsaVolumeIcon = Lookup(AlsaVolume,
80, "audio-volume-high-symbolic",
50, "audio-volume-medium-symbolic",
0, "audio-volume-low-symbolic",
$AlsaMutedIcon)
set AlsaIcon = If($AlsaMuted = "off",$AlsaMutedIcon,$AlsaVolumeIcon)


define BatChargeStr = Str(10*BatLeft/BatTotal,0)
define BatIcon = "battery-level-" + BatChargeStr + "0" + 
If($BatState = "Discharging","",
If(BatChargeStr = "10","","-charging")) + "-symbolic"  




function("ToggleMinimize") {
[!Minimized] Minimize
[Minimized] UnMinimize
}

function("ToggleMaximize") {
[!Maximized] Maximize
[Maximized] UnMaximize
}

menu("winops") {
  item(" "+GT("focus")+"%focus-windows-symbolic", Focus );
  item(" "+GT("close")+"%window-close-symbolic", Close );
  item(" "+GT("(un)minimize")+"%window-minimize-symbolic", Function "ToggleMinimize" );
  item(" "+GT("(un)maximize")+"%window-maximize-symbolic", Function "ToggleMaximize" );
}

menu ("test_menu") {
item("Wofi", Exec "wofi --show drun -I -n ")
item("Firefox",  Exec "apulse /home/k/opt/firefox/firefox")
item("Terminal", Exec "foot")
item("Files",    Exec "foot -a nnn /home/k/.bin/fm")
}


layout {

button {
value = "open-menu-symbolic"
action = Menu "test_menu"
}

button {
action = "firefox"                   
value = "firefox"                        
} 
button {
value = $Term
action = Exec $Term
}


pager {
preview = true
rows = 1
}

# Taskbar
taskbar {
rows = 1
icons = true
labels = true
title_width = 30
filter = workspace  
action[3] = Menu "winops"
}



# Spacer
label {
css = "* { -GtkWidget-hexpand: true; background: none }"
value =""
}

button "battery" {
interval = 1000
style = If($BatState="","hidden","module")
tooltip = Str(100*BatLeft/BatTotal,0) + "%"
value = BatIcon
}

button "volume" {
value = $AlsaIcon
tooltip = GT("Volume") + ": " + Str(AlsaVolume,0) + "%" + If(AlsaMuted," (" + GT("muted") + ")","")
style = If(Ident($AlsaVolume),"module","hidden")
trigger = "alsactl"
action[LeftClick] = Exec "amixer sset Master toggle\n"
action[RightClick] = Exec foot + "alsamixer"
action[ScrollUp] = Exec "amixer sset Master 5%+\n"
action[ScrollDown] = Exec "amixer sset Master 5%-\n"
}

tray{
rows=1
}

grid {

css = "* { -GtkWidget-direction: bottom;  }"

label  {
interval = 60000
value = Time("%I:%M %p")
}
label  {
interval = 86400000
value = Time("%x")
}
}
}	
