Set Term="foot"

scanner {

ExecClient("stdbuf -oL amixer sevents","alsactl") {}
Exec("amixer sget Master") {
AlsaVolume = RegEx(".*[[](.[0-9]+)%")
AlsaMuted = RegEx(".*[[].*[[]([A-Za-z].*)[]]")
}

file("/sys/class/power_supply/BAT0/charge_full") {
BatTotal = Grab(First)
}

file("/sys/class/power_supply/BAT0/charge_now") {
BatLeft = Grab(First)
}

file("/sys/class/power_supply/BAT0/status") {                                      
BatState = RegEx("^(.*)$",First)
}

}

set AlsaMutedIcon = "audio-volume-muted-symbolic"
set AlsaVolumeIcon = Lookup(AlsaVolume,
80, "audio-volume-high-symbolic",
50, "audio-volume-medium-symbolic",
0, "audio-volume-low-symbolic",
$AlsaMutedIcon)
set AlsaIcon = If($AlsaMuted = "off",$AlsaMutedIcon,$AlsaVolumeIcon)

PopUp "XAlsaWindow"  {
  autoclose = true
  style = "XAlsaPopup"
  image {
    value = "value-decrease"
    style = "XAlsaVolumeButton"
    action[LeftClick] = Exec "amixer sset Master 5%-\n"
  }
  scale {
    style = "alsa_volume_scale"
    value = AlsaVolume/100
    action[LeftClick] = Exec "amixer sset Master " + Str(GtkEvent("dir") * 100)
    trigger = "alsactl"
  }
  image {
    value = "value-increase"
    style = "XAlsaVolumeButton"
    action[LeftClick] = Exec "amixer sset Master 5%+\n"
  }
}


define BatChargeStr = Str(10*BatLeft/BatTotal,0)
define BatIcon = "battery-level-" + BatChargeStr + "0" + 
If($BatState = "Discharging","",
If(BatChargeStr = "10","","-charging")) + "-symbolic"  

function("ToggleMinimize") {
[!Minimized] Minimize
[Minimized] UnMinimize
}

function("ToggleMaximize") {
[!Maximized] Maximize
[Maximized] UnMaximize
}

menu("winops") {
  item(" "+GT("focus")+"%focus-windows-symbolic", Focus );
  item(" "+GT("close")+"%window-close-symbolic", Close );
  item(" "+GT("(un)minimize")+"%window-minimize-symbolic", Function "ToggleMinimize" );
  item(" "+GT("(un)maximize")+"%window-maximize-symbolic", Function "ToggleMaximize" );
}

menu ("menu") {
item("Wofi", Exec "wofi --show drun -I -n ")
item("Firefox",  Exec "apulse /home/k/opt/firefox/firefox")
item("Terminal", Exec "foot")
item("Files",    Exec "foot -a nnn /home/k/.bin/fm")
}


layout {

button {
value = "start-here"
action = Menu "menu"
}

button {
action = "firefox"                   
value = "firefox"                        
} 
button {
value = $Term
action = Exec $Term
}


pager {
sort = false
preview = false
}

taskbar {
rows = 1
icons = true
labels = true
title_width = 30
filter = workspace  
action[3] = Menu "winops"
}

label {
css = "* { -GtkWidget-hexpand: true; background: none }"
value =""
}

button "battery" {
interval = 1000
style = If($BatState="","hidden","module")
tooltip = Str(100*BatLeft/BatTotal,0) + "%"
value = BatIcon
}

button "volume" {
value = $AlsaIcon
tooltip = GT("Volume") + ": " + Str(AlsaVolume,0) + "%" + If(AlsaMuted," (" + GT("muted") + ")","")
style = If(Ident($AlsaVolume),"module","hidden")
trigger = "alsactl"
action[RightClick] = Exec "amixer sset Master toggle\n"
action[LeftClick] = PopUp "XAlsaWindow"
action[ScrollUp] = Exec "amixer sset Master 5%+\n"
action[ScrollDown] = Exec "amixer sset Master 5%-\n"
}



tray{
rows=1
}

grid {

css = "* { -GtkWidget-direction: bottom;  }"

label  {
interval = 60000
value = Time("%I:%M %p")
}
label  {
interval = 86400000
value = Time("%x")
}
}
}	


#CSS

button#pager_item.focused, 
button#pager_item.visible {
  background-color: rgba(199, 227, 255, 0.6);
}


window#XAlsaWindow {
  background: rgba(0,0,0,0);
  -GtkWidget-direction: right;
  padding: 5px;
}
grid#XAlsaPopup {
  margin: 5px;
  border-radius: 10px;
  border: 1px solid @borders;
  padding: 10px;
  background-color: @theme_bg_color;
}
image#XAlsaVolumeButton {
  background-color: rgba(100, 100, 256, 0.3);
  color: @theme_fg_color;
  border-radius: 10px;
  min-width: 20px;
  min-height: 20px;
  -GtkWidget-valign: center;
  -GtkWidget-halign: center;
}
#alsa_volume_scale {
  margin-left: 10px;
  margin-right: 10px;
  -GtkWidget-direction: right;
  -GtkWidget-halign: center;
  -GtkWidget-valign: center;
}

#alsa_volume_scale trough {
  min-height: 10px;
  min-width: 100px;
}

#alsa_volume_scale progress {
  min-height: 10px;
}
